
:root {
  --primary-color: #DFFF00;
  --primary-font: 'lexend', sans-serif;
  --primary-bg-color: #0E0E0E;
  --selection-black: #393939;
  --main-gray: #ADAAAA;
}
/* try to keep the corners to 13px for circled edges */

.App {
  width: 100vw;
  height: 100vh;
  text-align: center;
}

.PageTitle {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: var(--primary-color);
  position: relative;
  right: 0px;
}

.profile {
  bottom: 40px;
  right: 20px;
  color: var(--primary-color);
  top: 20px;
  width: 50px;
  height: 50px;
}

.profile:active{
  /*turns blue on click*/
  color:#61dafb
}



body{
  margin: 0;
  padding: 0%;
  background-color: var(--primary-bg-color);
  
}

.Sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 240px;
  height: 100%;
  font-family: var(--primary-font);
  background-color: var(--primary-bg-color);
  /*outline: var(--primary-color) solid 1px;
  this gets ride of a green outline on the left sidebar might want latter*/
}

.SidebarTitle {
  color: var(--primary-color);
  /*font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  */
  padding-top: 10px;
  padding-left: 20px;
  font-family: 'lexend', sans-serif;
  font-size: 1.5rem;
  text-align: left;
  /* Margin vs text-align IDK need to rearch later this is for the title */
  background-color: var(--primary-bg-color);
}

.SidebarHeader{
  align-items: left;
  font-family: 'lexend', sans-serif;
  color: var(--primary-color);
  width: 90%;
  padding-left: 10px;
  background-color: var(--primary-bg-color);
  padding-top: 10%; /*this controls the dist from bottom of sub header*/
  padding-bottom: 10%;
}

/* This is the Archive section */
.SidebarHeader #title {
  color: var(--primary-color);
  font-size: 130%;
  font-family: 'lexend', sans-serif;
  padding: 0 20px;

}

/* This is the "Elite Performance" section */
.SidebarHeader #subtitle {
  color: gray;
  font-size: 0.8rem;
  align-items: left;
  padding: 0 20px;

}


.SidebarList {
  height: auto;
  padding: 5px;
  /*background-color: var(--main-gray);  */
}

.SidebarList .row {
height: 40px;
background-color: var(--primary-bg-color);
border-start-end-radius: 1px solid var(--main-gray);
margin: 0%;

display: flex;
flex-direction: row;
color: var(--main-gray);
justify-content: center;
align-items: center;
font-family: var(--primary-font);
}

.Sidebar .row:hover{
  background-color: var(--selection-black);
  color: var(--primary-color);
  cursor: pointer;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-left-color: var(--primary-color);
}

.Sidebar #active {
  place-items: center;
  font-family: var(--primary-font);
  background-color: var(--selection-black);
  color: var(--primary-color);
  border-left: 5px solid var(--primary-color);
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.row #icon {
  flex: 30%;
  display: grid;
  place-items: center;
}

.row #title {
  flex: 70%;
  text-align: left;
  font-size: small;
}

.LogWBut {
  display: grid;
  place-items: center;
  font-family: var(--primary-font);
  position: fixed;
  /*bottom: 40px;
  left: 20px; */
  border-radius: 5px;
  background: linear-gradient(95deg, #F6FFC0, var(--primary-color), #DAF900);
  width: 240px;
  height: 40px;

  color: black;
  font-size: small;
}


.AppLabel {
  display:  flex;
  height: 100vh;
  font-family: var(--primary-font);
  font-size: small;
  color: var(--primary-color);
}

.Sidebar{
  width: 240px;
  flex-shrink: 0;
  height: 100vh;
}

.mainContent{
  flex: 1;
  overflow-y: auto;
  padding: 20px;
}

.page {
  display: flex;
  flex-direction: column;   /* stack vertically */
  justify-content: flex-start; /* start at top */
  align-items: stretch;  /* align LEFT */
  gap: 20px;
  background-color: var(--primary-bg-color);
  font-family: var(--primary-font);
  padding-top: 50px;
  box-sizing: boarder-box;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}





.page .toprow {
    display: "flex";
    justify-content: "space-between";
    align-items: "flex-start";
    margin-bottom: 36px;
    padding-top: 30px;
}

.page .heading {
    font-size:  "460";
    font-family: 'Lexend', sans-serif;


    font-weight: 900;
    margin: 0 0 10px 0;
    letter-spacing: 2px;
    line-height: 1;
    text-transform: "uppercase",
}

.App-header {
  background-color: var(--primary-bg-color);
  position: sticky;
  top: 0;
  z-index: 1000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--primary-color);

}

.App-link {
  color: #61dafb;
}


