
:root {
  --primary-color: #DFFF00;
  --primary-font: 'lexend', sans-serif;
  --primary-bg-color: #000000;
  --selection-black: #393939;
  --main-gray: #ADAAAA;
}
.App {
  width: 100vw;
  height: 100vh;
  text-align: center;
}

body{
  margin: 0;
  padding: 0%;
  background-color: var(--primary-bg-color);
}

.Sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  font-family: var(--primary-font);
  background-color: var(--primary-bg-color);
  /*outline: var(--primary-color) solid 1px;
  this gets ride of a green outline on the left sidebar might want latter*/
}

.SidebarTitle {
  color: var(--primary-color);
  /*font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  */

  font-family: 'lexend', sans-serif;
  font-size: 1.5rem;
  text-align: center;
  margin: 5%;
  /* Margin vs text-align IDK need to rearch later this is for the title */
  background-color: var(--primary-bg-color);
}

.SidebarHeader{
  height: auto;
  font-family: 'lexend', sans-serif;
  color: var(--primary-color);
  width: 100%;
  padding: 0;
  align-items: left;
  background-color: var(--primary-bg-color);
}

.SidebarHeader #subtitle {
  color: gray;
  font-size: 0.8rem;
  align-items: left;
}

.SidebarList {
  height: auto;
  width: 100%;
  padding: 0;
  /*background-color: var(--main-gray);  */
}

.SidebarList .row {
width: 100%;
height: 60px;
background-color: var(--primary-bg-color);
border-start-end-radius: 1px solid var(--main-gray);
margin: 0%;
display: flex;
flex-direction: row;
color: var(--main-gray);
justify-content: center;
align-items: center;
font-family: var(--primary-font);
}

.Sidebar .row:hover{
  background-color: var(--selection-black);
  color: var(--primary-color);
  cursor: pointer;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-left-color: #DFFF00;
}

.Sidebar #active {

  display: grid;
  place-items: center;
  background-color: var(--selection-black);
  color: var(--primary-color);
  border-left: 5px solid var(--primary-color);
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.row #icon {
  flex: 30%;
  display: grid;
  place-items: center;
}

.row #title {
  flex: 70%;
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--primary-bg-color);
  position: sticky;
  top: 0;
  z-index: 1000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--primary-color);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
